{% extends "YBWEB/dashboard.html" %}

{% load staticfiles %}
{% load i18n %}
{% load includeJSX %}
{% load YBtools %}

{% block main %}

    <div class="loginPanel">
        <div class="loginPanelHeader">
            <div class="logError">{{error}}</div>
            <img src="{% static 'dist/img/logo/logo.png' %}" alt="logo" className="logo" style="margin-left:17%"></img>
        </div>

        <div class="loginPanelBody">
            <form action="" method="post">
                {% csrf_token %}
                {{ nombreEmpresa }} te ha invitado a participar en el proyecto {{ nombreProyecto }}
                <input type="hidden" name="action" value="cooperate">
            <button name="return" onClick="location.href='/'" class="btn btn-flat btn-primary loginButton">Cancelar</button>
                <div class="loginPanelFooter">
                    <button name="loginSubmit" href="javascript:void(0)" class="btn btn-raised btn-primary loginButton">Aceptar</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
{% block endjs %}
{% endblock %}
