{% extends "YBWEB/dashboard.html" %}

{% load staticfiles %}
{% load i18n %}
{% load includeJSX %}
{% load YBtools %}

{% block main %}

    <div class="loginPanel">
        <div class="loginPanelHeader">
            <div class="logError">{{error}}</div>
            <div class="logSuccess">{{success}}</div>
            <img src="{% static 'dist/img/logo/logo.png' %}" alt="logo" className="logo" style="margin-left:17%"></img>
        </div>

        <div class="loginPanelBody">
            <form action="" method="post">
                {% csrf_token %}
                <br>
                ¿Has olvidado tu contraseña? <br><br>
                Déjanos tu email y nos pondremos en contacto contigo para restablecerla
                <input type="hidden" name="action" value="forgetPassword">
                <div class="form-group label-floating">
                    <label class="control-label" for="focusedInput1">Email</label>
                    <input type="text" name="email" class="loginInput form-control" autofocus>
                </div>
                <div class="loginPanelFooter">
                    <button name="loginSubmit" href="javascript:void(0)" class="btn btn-raised btn-primary loginButton">Enviar</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
{% block endjs %}
{% endblock %}
