{% extends "YBWEB/dashboard.html" %}

{% load staticfiles %}
{% load i18n %}
{% load includeJSX %}
{% load YBtools %}

{% block main %}

    <div class="loginPanel">
        <div class="loginPanelHeader">
            <div class="logError">{{error}}</div>
            <img src="{% static 'dist/img/logo/logo.png' %}" alt="logo" className="logo" style="margin-left:17%"></img>
        </div>

        <div class="loginPanelBody">
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="join">
                <div class="form-group label-floating">
                    <label class="control-label" for="focusedInput1">Email</label>
                    <input type="text" name="email" required=true class="loginInput form-control" value="{{email}}" disabled=true>
                </div>
                <div class="form-group label-floating">
                    <label class="control-label" for="focusedInput1">Usuario</label>
                    <input type="text" name="username" required=true value="{{username}}" class="loginInput form-control">
                </div>
                <div class="form-group label-floating">
                    <label class="control-label" for="focusedInput1">Nombre</label>
                    <input type="text" name="nombre" required=true value="{{nombre}}" class="loginInput form-control">
                </div>
                <div class="form-group label-floating">
                    <label class="control-label" for="focusedInput1">Apellidos</label>
                    <input type="text" name="apellidos" required=true value="{{apellidos}}" class="loginInput form-control">
                </div>
                <div class="form-group label-floating loginInputPass">
                    <label class="control-label" for="focusedInput1">Contraseña</label>
                    <input type="password" name="password" class="loginInput form-control">
                </div>
                <div class="form-group label-floating loginInputPass">
                    <label class="control-label" for="focusedInput1">Repite Contraseña</label>
                    <input type="password" name="password2" class="loginInput form-control">
                </div>
                <div class="loginPanelFooter">
                    <button name="loginSubmit" href="javascript:void(0)" class="btn btn-flat btn-primary loginButton">Crear</button>
                </div>
            </form>
            <button name="return" onClick="location.href='/'" class="btn btn-flat btn-primary loginButton">Volver</button>
        </div>
    </div>

{% endblock %}
{% block endjs %}
{% endblock %}
